<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Awards</a></li>
		<li><a href="#tabs-2">Testimonials</a></li>
		<li><a href="#tabs-3">Press</a></li>
	</ul>
	<div id="tabs-1">
		<p>Check out the awards Pete Crowley has won over his long, storied brewing career</p>
		<div id="awards-wrapper">
		
		<% @award_year.each do |year, award| %>
			<h1><%= year %></h1>
	    	<% for award in awards %>
		      		<div class="award-info">
	        		<h4><%= award.event_name %>	</h4>		
							<p class="award-description"><%= award.description %></p>
					 		<%= award.category %> - <%= award.beer.name %><br />
	      		</div>
					<br />
	    	<% end %>		
			<% end %>	
	
		</div>
	</div>
	<div id="tabs-2">
		<div id="testimonials-wrapper">
			<p>Hear what our customers have to say - and use the contact form to send us your own thoughts!</p>
				<% @testimonials.each do |testimonial| %>
				<% end %>
			</div>
	</div>
	<div id="tabs-3">
		<div id="press-wrapper">
			<!-- Begin Press Content -->
		</div>
	</div>
</div>

