<p id="notice"><%= notice %></p>

<h1>Get Notified</h1>

<h4>Applications will be accepted soon.</h4>

<p>Soon we'll be putting together the Haymarket team. Fill out the form below and tell us about yourself. We'll drop you a line when we begin hiring.</p>

<% form_for(@application) do |f| %>
  <%= f.error_messages %>

 <table>
	<tr>
   	<td><%= f.label :name %></td>
   	<td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :position %></td>
    <td><%= f.text_field :position %></td>
  </tr>
  <tr >
    <td valign="top" style="vertical-align: top"><%= f.label :message %></td>
    <td><%= f.text_area :message %></td>
  </tr>
	<tr>
		<td></td>
		<td><%= f.submit 'Submit' %></td>
	</tr>
</table>
<% end %>

<%# link_to 'Back', applications_path %>