<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
<%= render :partial => '/shared/head', :locals => {:theme => true} %>
<body>
    <%= render :partial => '/shared/site_bar' %>
	<div id='header_image'>
		<div class='wrapper'>
		<div class='header'>
				<%= link_to image_tag('/theme/images/haymarket_logo_noAddress.png', :id => 'header_logo')  %>					
					<!-- <div id='header_right'> -->
										<div id='header-location'>
											<h6>Location & Hours of Operation</h6>
											<!-- <a href='http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=737+West+Randolph+Street,+Chicago,+IL&amp;sll=41.910078,-87.986725&amp;sspn=0.010587,0.019011&amp;ie=UTF8&amp;hq=&amp;hnear=737+W+Randolph+St,+Chicago,+Cook,+Illinois+60661&amp;z=16' target='_blank'>
																				<img class='left' src='/theme/images/minimap.jpg' /> -->
											</a>
											<p><a href='http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=737+West+Randolph+Street,+Chicago,+IL&amp;sll=41.910078,-87.986725&amp;sspn=0.010587,0.019011&amp;ie=UTF8&amp;hq=&amp;hnear=737+W+Randolph+St,+Chicago,+Cook,+Illinois+60661&amp;z=16' target='_blank'>	737 W. Randolph</a><br />
												(corner of Halsted & Randolph)<br />
												Chicago, IL 60661<br /><br />
												Hours<br />
												Sun-Fri 11:00-2:00<br />
												Sat 11:00-3:00<br />
												<strong>312.638.0700</strong>
											</p>
										</div>
						
							<%= render :partial => '/shared/menu' %>
					<!-- </div> -->	<!-- end header right -->
				</div>
				<div class='container home'>
					<div id='home_content'>
						<div id='left_column'>
							<% if request.path == "/" %>
							<div class='featured_post'>
								<h2>Haymarket Blog</h2>
								<%= render :partial => 'blogs/blog_post', :collection => Blog.published.latest_post %>
							</div>
							<div class='theater'>
								<h2>Drinking & Writing Theater</h2>
								<img alt='Drinkingandwriting_logo' class='left' src='/images/drinkingandwriting_logo.gif?1285118572' />
								<p>
								Through our radio program, The Drinking & Writing Brewery Radio Show, and productions on stage and in bars, our website, and on the page, The Drinking & Writing Brewery exists to preserve the spirit and devotion of the hard drinking writer and to uphold the rituals of creativity through their passion for the written word. We strive to attract others who share these principles. <br />
								<a href='http://www.drinkingandwriting.com' class='tbc' target='_blank'>find out more about drinking & writing</a>
								</p>
							</div>
							<% else %>
							<div class="content">
								<% unless yield(:body_content_left).blank? %>
									<%= yield(:body_content_left) %>
								<% else %>
									<%= yield %>
								<% end %>
							</div>
							<% end %>
						</div>
						<div id='right_column'>
							<div class='side_content'>
						<% if @show_sidebar %>
							<%= render :partial => "shared/sidebar1" %>
						<% end %>
						
													
							</div>
						</div>
						<div class='clear'></div>
					</div>
					<div class='bottom'>
					<div class='social'>
						<a href='http://www.facebook.com/HaymarketBrewing' class='facebook'>Friend us on Facebook</a>
						<a href='http://www.twitter.com/' class='twitter'>Follow us on Twitter</a>
						<a href='http://www.youtube.com/' class='youtube'>Watch us on YouTube</a>
					</div>
					<div class='location'>
														<h6>Location & Hours of Operation</h6>
														<p class='left'>
															737 W. Randolph<br />
															<span class='smaller'>(corner of Halsted & Randolph)</span><br />
															Chicago, IL 60661<br /><br /><br/>
															Hours<br />
															Sun-Fri 11:00-2:00<br />
															Sat 11:00-3:00
														</p>
													</div>
						<div class='contact'>
							<h6>Signup for E-Newsletter</h6>
							<% form_for Subscriber.new do |f| %>
							<%= f.text_field :email %> <%= f.submit 'Signup' %>
							<% end %>
							<div id='contact_links'>
								<%= link_to 'Contact Us', new_inquiry_path() %> | <a href='/applications/new'>Get Hired</a>
							</div>
						</div>
						<div class='clear'></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
