<% theme ||= false -%>
<head>
  <title><%= browser_title(yield(:title)) %></title>
  <%= render :partial => 'shared/google_analytics' unless local_request? %>
  <%= "<!--[if lt IE 9]>#{javascript_include_tag('http://html5shiv.googlecode.com/svn/trunk/html5.js')}<![endif]-->".html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  
<%= stylesheet_link_tag "application", "formatting", :theme => theme %>
<%= stylesheet_link_tag "jquery-ui-1.8.6.custom.css", :theme => theme %>

  <%= stylesheet_link_tag "theme" %>
   <%= stylesheet_link_tag "home", :theme => theme if home_page? %>
  <%= "<!--[if IE 7]>#{stylesheet_link_tag 'ie7'}<![endif]-->" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= "<meta name=\"keywords\" content=\"#{@meta.meta_keywords}\" />" if @meta.meta_keywords.present? %>
  <%= "<meta name=\"description\" content=\"#{@meta.meta_description}\" />" if @meta.meta_description.present? -%>
  <%= yield :head_libraries %>
  <%= yield :head %>
 <%= javascript_include_tag "jquery", "jquery-ui", "application", "printelement", :theme => theme %>
	<% if request.path == "/" %>
		<%= javascript_include_tag "frogaloop.js", :theme => theme %>		
		<%= javascript_include_tag "jquery.flexslider-min.js", :theme => theme %>		
		<%= stylesheet_link_tag "flexslider", :theme => theme %>
		<script type="text/javascript" charset="utf-8">
		  $(window).load(function(){  

				var vimeoPlayers = document.querySelectorAll('iframe.vimeo-player'),
				    player;

				for (var i = 0, length = vimeoPlayers.length; i < length; i++) {
				    player = vimeoPlayers[i];
				    $f(player).addEvent('ready', ready);
				}

				function addEvent(element, eventName, callback) {
					(element.addEventListener) ? element.addEventListener(eventName, callback, false) : element.attachEvent(eventName, callback, false);
				}

				function ready(player_id) {
					var froogaloop = $f(player_id);

					froogaloop.addEvent('play', function(data) {
						$('.flexslider').flexslider("pause");
					});

					froogaloop.addEvent('pause', function(data) {
						$('.flexslider').flexslider("play");
					});
				}

				var slider = $(".flexslider");

				slider.fitVids().flexslider({
					animation: "slide",
					animationLoop: true,
					slideshowSpeed: 5000,
					video: true, 
					smoothHeight: true,
					start: function(slider){
						$('body').removeClass('loading');
					},
					before: function(slider){	
						// this only pauses the last slide
						$f(player).api('pause');

						// this is the Flexslider API for targeting the current slide
						var currentSlide = slider.slides.eq(slider.currentSlide + 1),
							currentFrame = currentSlide.find('iframe');
					}
				});
			});
		</script>
	<% end %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			//$('.accordion').accordion({collapsible:true,active:false,autoHeight:false,icons: { 'header': 'ui-icon-plus', 'headerSelected': 'ui-icon-minus' }});
			$( "#tabs" ).tabs();
			$( "#menu_container" ).tabs({ selected: 2});
		});
	</script>
</head>
