	<% @upcoming_beer = Event.upcoming.published.find_by_event_type_id(1, :first) %>
	<% @upcoming_theater = Event.upcoming.published.find_by_event_type_id(2, :first) %>
	<h4>Upcoming Events</h4>
	<img class="event-type-image" src="/theme/images/eventBeer.png" />
	<p>
	<% if !@upcoming_beer.blank? %>
	<strong><span style="color:#ffffff;"><%= @upcoming_beer.name %></span></strong><br />

	<small><%= @upcoming_beer.date.strftime("%m/%d/%Y") %></small>&nbsp;&nbsp;
	<small><%= link_to "For Tickets Click Here", @upcoming_beer.purchase_link unless @upcoming_beer.purchase_link.empty? %></small>
	<% else %>
		<small>Check back often to see what's going on here at the brewery</small>
	<% end %>
	</p>
	<img class="event-type-image" src="/theme/images/eventDW.png" />
		<p>
	<% if !@upcoming_theater.blank? %>
	<strong>	<span style="color:#ffffff;"><%= @upcoming_theater.name %></span></strong><br />

	<small><%= @upcoming_theater.date.strftime("%m/%d/%Y") %></small>&nbsp;&nbsp;
	<% else %>
		<small>Check back often to see what's going on at the drinking and writing theater</small>
	<% end %>
	</p>
	
	
	<% @featured_beer = Beer.find_by_featured(true) %>
	<% unless @featured_beer.nil? %>
	<h4>Featured Beer</h4>
	<p>
		<strong><span style="color:#ffffff;"><%= @featured_beer.name %></span></strong> <br />
		<small><%= @featured_beer.description %></small>
	</p>
	<% end %>
	<% @featured_food = Food.find_by_daily_special(true) %>
	<%unless @featured_food.nil? %>
	<h4>Featured Food</h4>
	<p>
		<strong><span style="color:#ffffff;"><%= @featured_food.name %> - $<%= @featured_food.price %></span></strong><br />
		<small><%= @featured_food.description %></small>
	</p>
	<% end %>
	
	<a href="http://www.drinkingandwriting.com"><img scr="/images/TiedHouseFilmFestPoster.gif" /></a>
	
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F%23%21%2FHaymarketBrewing&amp;width=300&amp;colorscheme=dark&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=556" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:556px;" allowTransparency="true"></iframe>