	<!-- This is the main sidebar that contains all 3 featured items. -->
	<% @upcoming = Event.upcoming.published.find(:first) %>
	<h4>Next Event</h4>
	<p>
	<% if !@upcoming.blank? %>
	<strong>	<span style="color:#ffffff;"><%= @upcoming.name %></span></strong><br />
	<small><%= @upcoming.date.strftime("%m/%d/%Y") %></small>&nbsp;&nbsp;
	<small><%= link_to "For Tickets Click Here", @upcoming.purchase_link unless @upcoming.purchase_link.empty? %></small>
	<% else %>
		<small>Check back often to see what's going on here at the brewery</small>
	<% end %>
	</p>
	<% @featured_beer = Beer.find_by_featured(true) %>
	<% unless @featured_beer.nil? %>
	<h4>Featured Beer</h4>
	<p>
		<strong><span style="color:#ffffff;"><%= @featured_beer.name %></span></strong> <br />
		<small><%= @featured_beer.description %></small>
	</p>
	<% end %>
	<% @featured_food = Food.find_by_daily_special(true) %>
	<%unless @featured_food.nil? %>
	<h4>Featured Food</h4>
	<p>
		<strong><span style="color:#ffffff;"><%= @featured_food.name %> - $<%= @featured_food.price %></span></strong><br />
		<small><%= @featured_food.description %></small>
	</p>
	<% end %>
	
